.container{
  width: 50%;
  padding: 20px;
}
.contact_input_div_cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;

  .form_label {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: #333;
  }

  .form_input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;

    &:focus {
      border-color: #007bff;
    }
  }
}

.ship_pickup_cont{
    display: flex;
    flex-direction: row;
    gap: 30px;
     
    div{
        width: 150px;
        height: 35px;
        display: flex;
        border-radius: 8px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 30px;
    }

    .car{
      border: none;
      background-color: #F5F5F5;
      color: grey;
    }

    .shop{
      border: 1px solid #DF845F;
      background-color: #F2D2C5;
    }
}

  .form_input2 {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;

    &:focus {
      border-color: #007bff;
    }
  }

  .delivery_deets_input2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
  }

  .save_input{
    display: flex;
    flex-direction: row;
  }

    @media (max-width: 768px) {
      .container{
          width: 100%;
      }
      .contact_input_div_cont{
          grid-template-columns: repeat(1,1fr);
          gap: 10px;
      }
      .delivery_deets_input2{
        grid-template-columns: repeat(1,1fr);
      }
  }