.cont{
    display: flex;
    flex-direction: row;

}

.header_cont{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;

    p{
        font-size: 25px;
    }
}

