.first_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    margin: 0;
    padding: 0;

    .header{
        p{
            font-size: 60px;
            color: black;
            // font-weight: 900;
            font-weight: bolder;
            line-height: 1.2;
        }
    }

    .header2{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            font-size: 25px;
            color: black;
            width: 70%;
            line-height: 1.2;
        }
    }

    button{
        width: 200px;
        height: 40px;
        border-radius: 5px;
        background-color: #db5825;
        color: white;
        border: none;
    }
}