.heading{
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-size: 35px;
    font-weight: 600;
  }
}
.container{
    font-size: 25px;
}


.reviewsGrid {
  // padding: 2rem;
  display: grid;
  margin-left: 25px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); // 2 by 2 layout
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr); // Still 2 columns
    gap: 0.75rem;
    padding: 1rem;
  }
}

.reviewCard {
  background: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  width: 300px;

  @media (max-width: 600px) {
    min-height: 160px;
  }
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #e2e0e0;
  height: 80px;
  padding: 1rem;

  img {
    width: 30px;
    height: auto;

    @media (max-width: 600px) {
      width: 16px;
    }
  }
}



.google {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .stars {
    width: 170px;
    height: 30px;
    margin-bottom: 20px;

    @media (max-width: 600px) {
      width: 50px;
    }
  }

  .google_icon {
    width: 30px;
    margin-top: 5px;

    @media (max-width: 600px) {
      width: 24px;
    }
  }
}

.text {
  font-size: 0.85rem;
  color: #444;
  margin: 0.5rem 0;

  @media (max-width: 600px) {
    font-size: 0.75rem;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .avatar {
    background: #6c63ff;
    color: #fff;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      width: 28px;
      height: 28px;
    }
  }

  h4 {
    font-size: 0.85rem;
    margin: 0;
  }

  small {
    font-size: 0.7rem;
    color: #777;
  }
}


.services {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  padding: 1.5rem;
  gap: 1rem;
  background-color: #efefef;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.serviceItem {
  text-align: center;
  flex: 1;
  padding: 1rem;

  img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
  }

  h4 {
    margin: 0.5rem 0;
    font-size: 1rem;
  }

  p {
    font-size: 0.85rem;
    color: #666;
  }
}
