.additional_info_div{
    display: flex;
    flex-direction: row;
    gap: 100px;

    .image_div{
      display: flex;
      flex-direction: column;
    }

    button{

        &:hover{
            background-color: #e07575;
        }
        border: none;
        background-color: #db5825;
        width: 100%;
        height: 50px;
        color: white;
        margin-top: 50px;
        border-radius: 8px;
    }

    .image_info_div{
        .image_name{
            font-size: 25px;
        }

        .image_description{
            font-size: 16px;
            color: grey;
        }

        .image_reviews{
            font-size: 16px;
            color: grey;
        }

        .image_price{
            font-size: 25px;
            font-weight: bolder;
        }

        .grid{
            display: grid;
            grid-template-columns: repeat(9,1fr);
            gap: 20px;

            .box{
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 18px;
                border: 1px solid grey;

                &:hover{
                    background-color: black;
                    color: white;
                }

                &:active{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}



.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumb {
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.review_rating_section {
  display: flex;
  gap: 50px;
  margin: 50px 0;
  flex-direction: row;
}

.reviews {
  flex: 1;
}

.review {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  gap: 10px;

  .info{
    display: flex;
    flex-direction: column;
  }
}

.ratings {
  flex: 1;
}

.rating_row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.bar {
  flex: 1;
  height: 8px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #db5825;
}

.similar_products {
  margin-top: 50px;

  h3 {
    margin-bottom: 20px;
  }

  .similar_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

  @media (max-width: 768px) {
    .additional_info_div{
      flex-direction: column;
    }
    .grid {
      .box{
        width: 30px !important;
        height: 30px !important;
      }
      gap: 10px !important;
    }

    .img{
      width: 100%;
      height: 20rem;
      margin-top: 20px;
    }

    .review_rating_section {
      display: flex;
      gap: 50px;
      margin: 50px 0;
      flex-direction: column;
  }
  }